<h3 class="pb-2 mb-3 border-bottom" i18n="@@events-activities-title">Activities</h3>

<div class="list-group mb-5">
  <a class="list-group-item list-group-item-action flex-column activities" id="gymkhana" routerLink="/events/gymkhana">
    <h4>
      <span>Gymkhana <fa-icon [icon]="faAnglesRight"></fa-icon></span>
    </h4>
  </a>
  <a class="list-group-item list-group-item-action flex-column activities" fragment="events-activities"
     id="weiss-schwarz"
     routerLink="/activities/weiss-schwarz">
    <h4>
      <span>Weiβ Schwarz <fa-icon [icon]="faAnglesRight"></fa-icon></span>
    </h4>
  </a>
  <a class="list-group-item list-group-item-action flex-column activities" fragment="events-activities"
     id="boardgames"
     routerLink="/activities/board-games">
    <h4>
      <span>Juegos de mesa <fa-icon [icon]="faAnglesRight"></fa-icon></span>
    </h4>
  </a>

</div>


