<div class="card h-100" id="weiss-schwarz-oficial-tournaments">
  <div class="ratio ratio-16x9">
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            frameborder="0"
            height="100%"
            src="https://www.youtube.com/embed/P8q9_5imvBQ?playlist=P8q9_5imvBQ&controls=0&autoplay=1&mute=1&loop=1&rel=0&showinfo=0&color=white&modestbranding=0"
            title="YouTube video player"
            width="100%"></iframe>
  </div>
  <div class="card-body">
    <h3 class="mb-0" i18n="weissSchwarz.officialTournament">Official tournaments</h3>
    <app-next-event [eventTypes]="eventTypes"></app-next-event>
    <p class="card-text mb-auto" i18n="weissSchwarz.officialTournaments">We carry out <strong>official tournaments
      totally free</strong>. This includes the official material that Bushiroad provides.
    </p>
  </div>
  <div class="list-group list-group-flush text-center">
    <a class="list-group-item list-group-item-action" fragment="calendar" routerLink="/activities/weiss-schwarz"><strong
      i18n="calendar">Calendar</strong></a>
  </div>

</div>
