<div class="card h-100">
  <div class="ratio ratio-16x9">
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            frameborder="0"
            height="100%"
            src="https://www.youtube.com/embed/fDqwAiVR5JU?playlist=fDqwAiVR5JU&controls=0&autoplay=1&mute=1&loop=1&rel=0&showinfo=0&color=white&modestbranding=0"
            title="YouTube video player"
            width="100%"></iframe>
  </div>
  <div class="card-body">
    <h3 class="card-title mb-0" i18n="@@events-videogames.title">Video games</h3>
    <app-next-event [eventTypes]="eventTypes"></app-next-event>
    <p class="card-text" i18n="@@events-videogames.description">Do you like video games? Are you from the community and
      you like to play with friends? Contact
      us. You probably will find someone willing to play or talk.</p>


  </div>
  <div class="list-group list-group-flush text-center">
    <a class="list-group-item list-group-item-action" routerLink="/activities/video-games"><strong
      i18n="@@events-videogames.moreInformation">More information</strong></a>
    <a class="list-group-item list-group-item-action"
       href="https://clans.worldofwarships.eu/clan-profile/500216994"><strong>World
      of
      Warships</strong>: [SHKU] Shirokuro.club</a>
  </div>


</div>
