<p i18n="@@about-us.description1">Shirokuro.club is a nonprofit club that our purpose is to make activities of manga,
  anime, Japanese culture, Weiß Schwarz, board games and video games.</p>

<p i18n="@@about-us.description2">Formally created on {{officialCreationDate | date: "longDate"}} by a set of people
  that
  was playing <a routerLink="/activities/weiss-schwarz">Weiß Schwarz</a>. But our activities started many years ago.
</p>

<p i18n="@@about-us.description3">Shirokuro name is a bad pun. "Weiß Schwarz" are two german words that his translation
  is "White Black". Due that
  "Weiß Schwarz" is a japanese game we choice a japanese name: Shiro(白) kuro (黒) that also his translation is "White
  Black".</p>
