<p class="" i18n="@@contact-participate-description-1">
  <strong>Do you want to participate in our activities?</strong>
  Check the <a fragment="calendar" routerLink=".">calendar</a> for next activities. You can get more information of all
  our
  activities in <a routerLink="/">home</a>.
</p>

<p i18n="@@contact-participate-description-2">To participate in any activity is required to <a fragment="contact"
                                                                                               routerLink="/about-us">contact
  us</a>.</p>
