<div class="row mb-2">
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
         style="background-color: black">
      <div class="col p-4 d-flex flex-column position-static">
        <h1 class="display-4 header-text" style="color: white">Shirokuro.club</h1>
        <p class="lead my-3 header-text" style="color: white"><strong i18n="@@main.scope">Alternative culture and
          leisure club in Barcelona.</strong></p>
        <p class="card-text mb-auto header-text" i18n="@@main.purpose" style="color: white">Our purpose is to make
          activities of manga, anime, Japanese culture, Weiß Schwarz, board games and video games.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img height="250" src="/assets/icons/icon.svg" width="250">
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <app-card-board-games></app-card-board-games>
  </div>
  <div class="col ">
    <app-card-weiss-schwarz></app-card-weiss-schwarz>
  </div>
  <div class="col">
    <app-card-events></app-card-events>
  </div>
  <div class="col">
    <app-card-videogames></app-card-videogames>
  </div>
</div>
