<div class="card h-100">
  <div class="card-body">
    <h3 class="mb-0" i18n="@@events-card.title">Events</h3>

    <p class="card-text mb-auto" i18n="@@events-card.description">We participate in multiple events throughout the year.
      If you want us to participate in an event, contact us!</p>
  </div>

  <div class="list-group list-group-flush text-center">
    <a class="list-group-item list-group-item-action" i18n="@@events-card.moreInformation" routerLink="/events"><strong>More
      information</strong></a>
  </div>
</div>
