<div class="card h-100" id="weiss-schwarz-demonstrations">
  <div class="ratio ratio-16x9">
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            height="100%"
            src="https://www.youtube.com/embed/tc1gri2xUWo?playlist=tc1gri2xUWo&controls=0&autoplay=1&mute=1&loop=1&rel=0&showinfo=0&color=white&modestbranding=0"
            title="YouTube video player"
            width="100%"></iframe>
  </div>
  <div class="card-body">
    <h3 class="mb-0" i18n="@@demonstrations">Demonstrations</h3>
    <div class="mb-1 text-muted" i18n="@@on-demand">On demand</div>

    <p class="card-text mb-auto" i18n="@@weiss-schwarz.demonstrations.description">We carry out totally <strong>free
      demonstrations</strong>. Depending on availability, a <strong>demo deck will be given away</strong> to new
      players.</p>

  </div>
  <div class="list-group list-group-flush text-center">
    <a class="list-group-item list-group-item-action" fragment="contact"><strong
      i18n="@@weiss-schwarz.demonstrations.contact"
      routerLink="/about-us">Contact us to learn!</strong></a>
  </div>

</div>
